
<!-- <button {{action 'sayHelo'}}> Say </button> -->

<h1>Hello</h1>

<h3>{{title}}</h3>
{{boby}}

<!-- {{#each authors}}
  {{this}},
{{/each}} -->

<br>

<h2>Comments</h2>
<!-- <ul>
  {{#each comments as comment}}
    <li>{{name}}</li>
  {{/each}}
</ul> -->
